@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  /* letter-spacing: 0.0625em; */
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
  margin: auto;
  width: 80%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

/* ======================== To Top ======================== */

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #30303062;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 0.25rem;
  border: 0.063rem solid #fff;
}

#toTopBtn svg {
  color: #fff;
  z-index: 999;
}

#toTopBtn svg:hover {
  transform: scale(1.1);
}

#toTopBtn:hover {
  background-color: rgba(85, 85, 85, 0.685);
}

@media all and (max-width: 991px) {
  #toTopBtn {
    bottom: 0.2rem;
    right: 0.2rem;
  }
}

/* ======================== Navbar ======================== */

#mainNav {
  min-height: 3.5rem;
  background-color: #fff !important;
}

#mainNav .navbar-brand {
  color: rgb(48, 48, 48) !important;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.9rem 0;
}

#mainNav .nav-link {
  color: rgb(48, 48, 48);
  font-weight: 400;
}

#mainNav .navbar-toggler {
  border: none;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active,
#mainNav .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

#mainNav .dropdown-item {
  transition: none;
  color: rgb(48, 48, 48);
  padding: 0.2rem 1.5rem;
}

#mainNav .dropdown-item.active,
.dropdown-item:active {
  transition: none;
  color: #fff;
  background-color: rgb(48, 48, 48);
  padding: 0.2rem 1.5rem;
}

#mainNav .dropdown-item:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
}

#mainNav .navbar-toggler {
  text-align: center;
  font-size: 90%;
  padding: 0.75rem;
  color: rgb(48, 48, 48);
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    color: rgb(48, 48, 48);
    position: relative;
  }
  .dropdown-menu > li:hover {
    background-color: #000;
  }
}

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* ======================== Buttons ======================== */

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  margin: 2rem;
  background-color: #fff;
  color: rgb(48, 48, 48);
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0.0875rem solid rgb(202, 202, 202);
}

.btn:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
  border: 0.0875rem solid rgb(48, 48, 48);
}

@media (max-width: 567px) {
  .btn {
    padding: 0.78rem 1rem;
    font-size: 60%;
  }

  .contact-section .form-group .btn {
    width: 100%;
  }
}

/* ======================== HomePage Section ======================== */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/img/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1,
.masthead .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: underline #fff 0.09rem;
}

.masthead h2,
.masthead .h2 {
  color: #fff !important;
  max-width: 20rem;
  font-size: 1rem;
}

.home-section {
  padding: 1rem;
  margin: 1rem;
}

.home-section .home-title {
  padding-bottom: 1.5rem;
}

.home-section .home-title h4,
.home-section .home-title p {
  margin: auto;
  text-align: center;
}

.home-section .home-services {
  padding: 1rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/img/image3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.home-section .home-contact {
  padding: 1rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/img/image4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.home-section .card-body {
  color: #fff;
  padding: 1rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 2rem;
    line-height: 4rem;
  }

  .home-section .home-services,
  .home-section .home-contact {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.1rem;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 0.9rem;
  }

  .home-section .home-title h4 {
    padding: 1rem;
  }

  .home-section .col-sm-6 {
    margin: 1rem 0;
    padding: 0;
  }
}

/* ======================== About Section ======================== */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.about-section {
  padding: 4rem;
  margin: 0 8rem;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}

.about-col {
  padding: 2rem 0;
}

.about-col p {
  text-align: start;
  padding-top: 1rem;
}

.about-col p span {
  text-decoration: underline 0.09rem;
}

.about-col::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-row {
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .about-section {
    padding: 4rem 0;
    margin: 0;
  }
}

/* ======================== Contact Section ======================== */

.contact-section {
  padding-top: 4rem;
}

.contact-section .container-fluid {
  background-color: rgb(48, 48, 48);
  padding: 15rem;
}

.msg-form {
  background-color: white;
  padding: 1.25rem;
}

.input-group input,
.input-group textarea:focus {
  border: 0.063rem solid rgb(48, 48, 48);
}

@media only screen and (max-width: 2732px) and (max-height: 2048px) {
  .contact-section .container-fluid {
    width: 96%;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 567px) {
  .contact-section .container-fluid {
    margin: 0.625rem 0.625rem;
    width: 94%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .contact-section .row {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .msg-form h6 {
    font-size: 0.8rem;
  }
}

/* ======================== Services section ======================== */

.services-section {
  padding: 4rem;
  margin: 4rem 8rem;
}

.services-section h1 {
  padding: 1rem;
  margin-bottom: 2rem;
}

.services-section_items {
  margin-top: 2rem;
}

.list-group-item {
  padding: 0;
  width: 100%;
  text-align: center;
}

.list-group-item a {
  display: block;
  padding: 2rem;
  margin: 0;
  color: #303030 !important;
  text-decoration: none;
}

.list-group-item a:hover {
  color: #fff !important;
  background-color: #303030;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .services-section {
    padding: 4rem 1rem;
    margin: 0;
  }

  .services-section h1 {
    padding: 0;
    margin-block-start: 2.5rem;
  }

  .list-group {
    padding-right: 0;
    padding-left: 0;
  }
}

/* ======================== Footer Section ======================== */

.footer {
  color: rgb(48, 48, 48);
  background-color: #fff;
  font-size: 1rem;
}

.footer h6 {
  font-weight: 400;
}

.footer div a {
  color: rgb(48, 48, 48) !important;
  text-decoration: none;
}

.footer .footer-contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .footer-contact a,
.footer .footer-contact p {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: rgb(48, 48, 48);
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-contact a:hover {
  color: rgb(97, 97, 97);
  font-weight: 600;
}

.footer .footer-bottom {
  color: #fff;
  background-color: rgb(48, 48, 48);
  padding: 2rem;
  font-size: 0.6rem;
}

.footer .footer-bottom a {
  text-decoration: none;
}

/* ============  Disable aos animation delay on mobile devices ============ */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0.1s !important;
  }
}
