@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.0625em;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
  margin: auto;
  width: 80%;
}

/* Navbar */

#mainNav {
  min-height: 3.5rem;
  background-color: #fff !important;
}

#mainNav .navbar-brand {
  color: rgb(48, 48, 48) !important;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.9rem 0;
}

#mainNav .nav-link {
  color: rgb(48, 48, 48);
  font-weight: 400;
}

#mainNav .navbar-toggler {
  border: none;
}

#mainNav .navbar-toggler:focus,
#mainNav .navbar-toggler:active,
#mainNav .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

#mainNav .dropdown-item {
  transition: none;
  color: rgb(48, 48, 48);
  padding: 0.2rem 1.5rem;
}

#mainNav .dropdown-item.active,
.dropdown-item:active {
  transition: none;
  color: #fff;
  background-color: rgb(48, 48, 48);
  padding: 0.2rem 1.5rem;
}

#mainNav .dropdown-item:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
}

#mainNav .navbar-toggler {
  text-align: center;
  font-size: 90%;
  padding: 0.75rem;
  color: rgb(48, 48, 48);
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    color: rgb(48, 48, 48);
    position: relative;
  }
  .dropdown-menu > li:hover {
    background-color: #000;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* Buttons */

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  margin: 2rem;
  background-color: #fff;
  color: rgb(48, 48, 48);
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0.0875rem solid rgb(202, 202, 202);
}

.btn:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
}

@media (max-width: 567px) {
  .btn {
    padding: 0.78rem 1rem;
    font-size: 60%;
  }

  .contact-section .form-group .btn {
    width: 100%;
  }
}

/* HomePage Section */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/img/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-decoration: underline #fff 0.09rem;
}
.masthead h2,
.masthead .h2 {
  color: #fff !important;
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
}
@media (max-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 0.9rem;
  }
}

/* About Section */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

#about-section_div h1 {
  float: left;
}

.about-section {
  padding: 4rem;
  margin: 0 8rem;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}

.about-col {
  padding: 2rem 0;
}

.about-col p {
  text-align: start;
  padding-top: 1rem;
}

.about-col p span {
  text-decoration: underline 0.09rem;
}

.about-col::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-row {
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .about-section {
    padding: 4rem 0;
    margin: 0;
  }
}

/* Contact Section */

.contact-section {
  padding-top: 4rem;
}

.contact-section .container-fluid {
  background-color: rgb(48, 48, 48);
}

/* .contact-section .col-sm-6 {
  margin: 10rem;
} */

.contact-heading {
  padding: 2rem 0;
}

.msg-form {
  background-color: white;
  padding: 20px;
}

.pad-icon {
  padding-top: 50px;
  padding-left: 2px;
}

.pad-icon a {
  color: #fff !important;
  text-decoration: none;
  margin: 1rem;
}

.input-group input,
.input-group textarea:focus {
  border: 1px solid rgb(48, 48, 48);
}

.links-col {
  margin: auto;
  text-align: center;
}

.links {
  padding-top: 5rem;
  margin: 5rem;
}

.add-links {
  padding: 0.2rem;
  margin: 0.8rem;
  background-color: rgb(48, 48, 48);
  color: #fff;
  font-size: 80%;
  text-transform: uppercase;
  border: 0;
}

.add-links:hover {
  background-color: #fff;
  color: rgb(48, 48, 48);
}

#bordering a:active {
  border: 1px solid rgb(48, 48, 48) !important;
}

@media (min-width: 568px) {
  .contact-section .container-fluid {
    margin: 100px 30px;
    width: 96%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 567px) {
  .contact-section .container-fluid {
    margin: 10px 10px;
    width: 94%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .links {
    padding: 2rem 0;
    margin: 0;
    width: 100%;
  }

  .add-links {
    padding: 0;
    margin: 1.8rem;
  }

  .px-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .msg-form h6 {
    font-size: 0.8rem;
  }

  .pad-icon {
    padding-top: 0;
    padding-left: 0;
  }

  .pad-icon a {
    margin: 0 2rem;
  }
}

/* Services section*/

#service-nav .container-fluid {
  padding: 1rem;
  margin: 4rem 0;
  width: 100%;
  background-color: rgb(48, 48, 48) !important;
}

.services-section {
  padding: 4rem;
  margin: 4rem 8rem;
}

.services-section h1 {
  padding: 1rem;
}

.services-section_col {
  margin-top: 2rem;
}

.services-section_col .col {
  margin-top: 6rem;
}

@media screen and (max-width: 650px) {
  .services-section {
    padding: 4rem 1rem;
    margin: 0;
  }
}

/* Footer Section */

.footer {
  color: rgb(48, 48, 48);
  background-color: #fff;
  font-size: 1rem;
}

.footer h6 {
  font-weight: 400;
}

.footer div i {
  color: rgb(48, 48, 48) !important;
}

.footer .footer-contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .footer-contact a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(48, 48, 48);
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-contact a:hover {
  color: rgb(97, 97, 97);
  font-weight: 600;
}

.footer .footer-bottom {
  color: #fff;
  background-color: rgb(48, 48, 48);
  padding: 2rem;
  font-size: 0.6rem;
}

.footer .footer-bottom a {
  text-decoration: none;
}

/*- Disable aos animation delay on mobile devices -*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0.1s !important;
  }
}
