@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.0625em;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
  margin: auto;
  width: 80%;
}

/* Navbar */

#mainNav {
  min-height: 3.5rem;
  background-color: #fff !important;
}

#mainNav .nav-link {
  color: rgb(48, 48, 48);
  font-weight: 600;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: rgb(48, 48, 48);
  border: 1px solid rgb(48, 48, 48);
}
#mainNav .navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem;
}
#mainNav .navbar-brand {
  color: rgb(48, 48, 48) !important;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (max-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: rgb(48, 48, 48);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 0.2rem 1.5rem;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(48, 48, 48);
  }
  #mainNav.navbar-shrink .nav-link {
    color: rgb(48, 48, 48);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: rgb(48, 48, 48);
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: rgb(48, 48, 48);
    outline: none;
    border-bottom: 0.25rem solid rgb(48, 48, 48);
  }
}

ul .dropdown-menu {
  margin-right: 100px;
  left: 85%;
}

/* Buttons */

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  margin: 2rem;
  background-color: #fff;
  color: rgb(48, 48, 48);
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.btn:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
}

@media (max-width: 567px) {
  .btn {
    padding: 0.78rem 1rem;
    font-size: 60%;
  }
}

/* HomePage Section */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url("../assets/img/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-decoration: underline #fff 0.1rem;
}
.masthead h2,
.masthead .h2 {
  color: #fff !important;
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
}
@media (max-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 0.9rem;
  }
}

/* About Section */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

#about-section_div h1 {
  float: left;
}

.about-section {
  padding: 4rem;
  margin: 0 8rem;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}

.about-col {
  padding: 2rem 0;
}

.about-col p {
  text-align: start;
}

.about-col::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.about-row {
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .about-section {
    padding: 4rem 0;
    margin: 0;
  }
}

/* Services section*/

#service-nav .container-fluid {
  padding: 1rem;
  margin: 4rem 0;
  width: 100%;
  background-color: rgb(48, 48, 48) !important;
}

.services-section {
  padding: 4rem;
  margin: 4rem 8rem;
}

.services-section h1 {
  padding: 1rem;
}

.services-section_col {
  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  .services-section {
    padding: 4rem 1rem;
    margin: 0;
  }
}

/* Contact Section */

.contact-section {
  padding-top: 4rem;
}

.contact-section .container-fluid {
  background-color: rgb(48, 48, 48);
}

.contact-heading {
  padding: 2rem 0;
}

.msg-form {
  background-color: white;
  padding: 20px;
}

.pad-icon {
  padding-top: 50px;
  padding-left: 2px;
}

.pad-icon a {
  color: #fff !important;
  text-decoration: none;
  margin-right: 40px;
}

.pad-icon a:active {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.input-group input:focus {
  border: 1px solid rgb(48, 48, 48);
}

.links-col {
  margin: auto;
  padding-left: auto !important;
}

.links {
  padding-top: 5rem;
  margin: 5rem;
}

.add-links {
  padding: 0.2rem;
  margin: 0.8rem;
  background-color: rgb(48, 48, 48);
  color: #fff;
  font-size: 80%;
  text-transform: uppercase;
  border: 0;
}

.add-links:hover {
  background-color: #fff;
  color: rgb(48, 48, 48);
}

#bordering a:active {
  border: 1px solid rgb(48, 48, 48) !important;
}

@media (min-width: 568px) {
  .contact-section .container-fluid {
    margin: 100px 30px;
    width: 96%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 567px) {
  .contact-section .container-fluid {
    margin: 10px 10px;
    width: 94%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .links {
    padding: 2rem 0;
    margin: 0;
    width: 100%;
  }

  .add-links {
    padding: 0;
    margin: 1.8rem;
  }

  .px-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .fab {
    padding: 1rem;
    margin: auto !important;
  }
}

/* Footer Section */

.footer {
  background-color: #fff;
  padding: 5rem 0;
  font-size: 1rem;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

/*- Disable aos animation delay on mobile devices -*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0.1s !important;
  }
}
